.footer {
  width: 100%;
  background-color: #181b3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 5em;
}
.footContainer {
  width: 80%;
  max-width: 80%;
  max-height: 35vh;
  border-width: 1px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerRow {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  min-width: 100;
  max-height: 500;
  justify-content: space-around;
  flex-direction:row;
}
.socialIconsGroup {
  margin-top: 0.5em;
  width: 100%;
  height: 40;
  background-color: #181b3f;
  display: flex;
  justify-content: center;
}
li{
  list-style-type: none;
}