.footer {
  width: 100%;
  background-color: #181b3f;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  justify-content: center;
  align-items: center;
  padding: 5em 5em;
  
}
.footContainer {
  width: 100%;
  max-width: 100%;
  padding: 0.5em 0;
  border-width: 1px 0;
  /* display: grid; */
  /* column-gap: 2em; */
  /* grid-template: auto auto auto auto; */
  /* display: flex; */
  /* width: 100%; */
  display:grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-column-gap: 10px;
    justify-content: center;
  /* align-items: flex-end; */
  /* height: 10vh; */
  /* justify-content: space-evenly; */
}


.footerRow {
  /* background-color: aliceblue; */

  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  /* min-width: 100; */
  /* max-height: 500; */
  justify-content: space-around;
  flex-direction: row;
}

.socialIconsGroup {
  margin-top: 0.5em;
  width: 100%;
  height: 40;
  background-color: #181b3f;
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
}
