.footer {
  width: 100%;
  background-color: #181b3f;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 500px;
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  justify-content: center;
  align-items: center;
  padding: 5em 5em;
  
}
.footContainer {
  width: 100%;
  padding: 0.5em 0;
  border-width: 1px 0;
  /* align-items:flex-start; */
  text-align: left;
  display:grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
}

@media (max-width: 1180px) {
  .footContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.footerRow {
  padding-top: 5%;
  display: grid;
  grid-template-rows: repeat(1, minmax(100px, 1fr));
}

.socialIconsGroup {
  margin-top: 0.5em;
  width: 100%;
  height: 40;
  background-color: #181b3f;
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
}
