.loginContainer {
    height: 100%;
    width: 60%;
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-direction:row;
    justify-content: center;
}

.loginLeft {
  background-color: rgb(0,35,51);
  color: rgb(244, 240, 240);
  width: 40%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  padding: 10% 5% 5%;
  margin: 10% 0% 10%;
  align-items: center;
}

.formSeprator{
    border-top: 1px solid rgb(0, 35, 51);
    height: 1px;
    margin: 24px 0;
}

.loginRight {
  background-color: aqua;
  width: 60%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  padding: 30.2% 5% 35.2%;
  margin: 10% 0% 10%;
  align-items: center;
}
