.loginContainer {
  height: 70vh;
  width: 50vw;
  display: flex;
  margin: 3em auto;
  border-radius: 10px;
  align-items: center;
  flex-direction: row;
  z-index: 999;
  /* background-color: rgb(10, 35, 57);   */
}

.loginLeft {
  background-color: #002333;
  color: rgb(244, 240, 240);
  width: 45%;
  min-width: 200px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5% 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formSeprator {
  margin: 1em 0;
}

.loginRight {
  background-color: rgb(255, 255, 255);
  width: 75%;
  height: 100%;
  padding: 5% 5% 5%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
@media screen and (max-width: 385px) {
  .loginLeft {
    display: none;
  }
  .loginRight {
    border-radius: 10px;
    width: 100vw;
  }
}
