.humbergbtnContainer {
  width: 30;
  height: 30;
}
.humbergbtnContainer:hover {
}
.dropdownMenu {
  position: fixed;
  right: 0;
  background-color: #1e1e27;
  width: 100vw;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 2em;
}
@media screen and (min-width: 600px) {
  .humbergbtnContainer {
    display: none;
  }
}
