.App {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face {
  font-family: "heading-Chocolada"; /*Can be any text*/
  src: local("Chocolada"),
    url("./asserts/fonts/Chocolada.ttf") format("truetype");
}
