.allCourse {
  width: 100%;
  background-color: #484c4b;
  padding: 0 10em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.allcourseContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.courseHeader {
  background-color: #484c4b;
  height: 30vh;
  display: flex;
  /* height: auto; */
  flex-wrap: wrap;
  justify-content: left;
  padding: 0 2.5em;
}
.stickyHeader {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  /* margin-top: -10px; */
  /* margin-bottom: -10px; */
  height: 10vh;
  justify-content: flex-start;
}
.stickyHeader div {
  margin-right: 1.5em;
}
.searchBar {
  height: 7vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
}
.searchBar input {
  padding: 0.2em 0.3em;
}

.searchBar > input {
  width: 100%;
  height: 100%;
  border: 1px solid #b5b5b5;
}
.tagSection {
  /* background-color: red; */
  height: 10vh;
  display: flex;
  border-bottom-width: 1px;
  width: 93%;
  align-items: center;
}

.courseGridSection {
  min-height: 100vh;
  display: grid;
  width: 100%;
  padding: 0.5em 0;
  text-align: left;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
}

@media (max-width: 1180px) {
  .courseGridSection {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
