.allCourse {
  width: 100%;
  background-color: #15151e;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.allcourseContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.courseHeader {
  background-color: #1e1e27;
  /* height: 30vh; */
  display: flex;
  /* height: auto; */
  width: "100%";
  flex-wrap: wrap;
  justify-content: left;
  padding: 0 10em;
}
.stickyHeader {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  height: 8vh;
  justify-content: flex-start;
  overflow: hidden;
}
.stickyHeader div {
  margin-right: 1.5em;
}
.searchBar {
  height: 7vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
}
.searchBar input {
  padding: 0.2em 0.3em;
}

.searchBar > input {
  width: 100%;
  height: 100%;
  border: 1px solid #b5b5b5;
}
.searchBar > input:focus {
  background-color: #b5b5b5;
  outline: none;
}
.tagSection {
  height: 10vh;
  display: flex;
  border-bottom-width: 1px;
  min-width: 70vw;
  align-items: center;
}

.courseGridSection {
  /* min-height: 100vh; */
  display: grid;
  width: 100%;
  padding: 0.5em 0.2em 0;
  text-align: left;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(250px, 1fr)); */
}

@media (max-width: 1180px) {
  .courseGridSection {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 550px) {
  .courseHeader {
    padding: 0 2em;
    padding-bottom: 0.5em;
  }
  .tagSection {
    display: none;
  }
}
