.modalContainer {
  background-color: rgb(138, 138, 138);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  display: flex;
  justify-content: center;
  align-items: center;
}
